.hero-wrapper {
  height: 100vh;
  overflow: hidden;
  perspective: 10000px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.title {
  position: absolute;
  top: 10%;
  font-size: 2rem;
  text-shadow: 0 0 5px black;;
}

.bg-1,
.bg-2,
.bg-3,
.bg-4,
.bg-5,
.bg-6,
.bg-7 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  will-change: transform;
}

.bg-2 {
  bottom: 15rem;
}
.bg-3 {
  bottom: 2rem;
}
.bg-4 {
  bottom: -25rem;
}
.bg-5 {
  bottom: -20rem;
}
.bg-6 {
  width: 100vw;
  height: auto;
  object-fit: cover;
  bottom: -1rem;
}
.bg-7 {
  overflow-y: visible;
}

@media (min-width: 768px) {
  .bg-6 {
    width: 1000px;
    bottom: -8rem;
  }
}
