.photos img{
  width: 90%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 8px;
}

@keyframes floating {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(0%, -2.5%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

#photo-1, #photo-5 {
  animation-delay: 0;
}

#photo-2, #photo-6 {
  animation-delay: 0.2s;
}

#photo-3 {
  animation-delay: 0.4s;
}

#photo-4 {
  animation-delay: 0.6s;
}


.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  animation: floating 3s infinite ease-in-out;
}

.photo p {
  margin-top: 0.5rem;
}

@media (min-width: 640px) {
  .photo img {
    height: 300px;
  }
}

@media (min-width: 1200px) {
  .photo img {
    height: 400px;
  }
}
